.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.hero .content {
    position: absolute;
    top: 0;
    p {
        color: var(--color-white);
    }
    .button {
        color: var(--color-primary);
    }
}
